<section class="message">
  <div class="message-header is-brand-brown">
    <h3 class="title is-3 is-font-green mb-0">
      {{title}}
    </h3>
    <h3 class="title is-5 is-font-green">
      Posted on
      {{format_date createdAt}}
    </h3>
  </div>
  <div class="message-body">
    <p class="content pt-2 pl-3">
      {{body}}
    </p>
    <div class="columns">
      <div class="column">
        <a href="/post/{{id}}" class="button is-dark is-outlined">Comment on
          Post</a>
      </div>
      <div class="column is-offset-7">
        <div class="field is-grouped">
          <p class="control">
            <a
              href="/post/edit/{{id}}"
              class="button is-info is-light is-outlined"
            >
              Edit Post
            </a>
          </p>
          <p class="control">
            <a
              href="/post/delete/{{id}}"
              class="button is-danger is-light is-outlined"
            >
              Delete Post
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>